.logistics-lists {
  margin-bottom: 20px;
}

.logistics-item {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.logistics-name {
  font-size: 14px;
}

.logistics-use {
  width: 180px;
  display: inline-block;
}

.logistics-rules {
  margin-top: 5px;
}

.logistics-add {
  display: block;
  border: 2px dotted #ddd;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
}

.logistics-add:hover {
  border-color: #b5b5b5;
  color: inherit;
}

.rules-table {
  margin-bottom: 10px;
}

.rule-fee {
  text-align: center;
  width: 80px;
}

.rule-area-name {
  padding-right: 3em;
}

/* 地区选择弹窗 */
.area-modal .modal-dialog {
  width: 612px;
}

.area-item {
  border-bottom: 1px solid #e5e5e5;
}

.area-name {
  margin-right: 5px;
  display: inline-block;
  width: 72px;
  padding: 5px 0 5px 10px;
  vertical-align: top;
}

.province-list {
  width: 490px;
  display: inline-block;
}

.province-item {
  position: relative;
  float: left;
  margin-right: 1px;
  padding-right: 8px;
  height: 30px;
}

.province-name {
  white-space: nowrap;
  margin-right: 3px;
  display: inline-block;
  position: relative;
  border: 1px solid #fff;
  padding: 4px 4px 1px;
  width: 150px;
}

.city-list {
  background-color: #fffec6;
  position: absolute;
  float: right;
  border: solid 1px #f7e4a5;
  z-index: 20000;
  top: 30px;
  left: 0;
  width: 250px;
  display: none;
  padding-left: 4px;
}

.city-list .checkbox-inline + .checkbox-inline {
  margin: 0 10px 0 0;
}

.city-list .checkbox-inline {
  margin-right: 10px;
}

.city-open {
  z-index: 10;
}

.city-open .province-name {
  background-color: #fffec6;
  border: solid 1px #f7e4a5;
  border-bottom-color: #fffec6;
  z-index: 30;
}

.city-open .city-list {
  display: block;
  z-index: 20;
}

.city-num {
  letter-spacing: -1px;
}
